/* By Roizi */
* {
  margin: 0;
  padding: 0;
}
@keyframes loadingIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  position: relative;
  cursor: auto;
  animation: loadingIn 3s;
}
/* add transition fade out */
/* add transition fade out */
#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background: white;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}
/* add transition fade out */
/* add transition fade out */

/* coordinate */
#coords {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#coord-num {
  /*z-index: 100;*/
  position: fixed;
  top: 0;
  left: 0;
  font-family: en-title;
  line-height: 15pt;
  color: gray;
  letter-spacing: 0.5pt;
  font-size: 1pt;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#Xbar,
#Ybar {
  position: fixed;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#Xbar {
  width: 100%;
  border-left: 1px dashed gray;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#Ybar {
  height: 100%;
  border-top: 1px dashed gray;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#a-cursor {
  position: fixed;
  top: 0;
  left: 0;
  /*z-index: 99;*/
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* End of coordinate */
/* font setting */
@font-face {
  font-family: normal-title;
  font-weight: 400;
  unicode-range: U+4E00-9FFF;
  font-display: swap;
  src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2)
      format("woff2"),
    url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff)
      format("woff"),
    url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf)
      format("opentype");
}
@font-face {
  font-family: normal-title;
  font-weight: 700;
  unicode-range: U+4E00-9FFF;
  font-display: swap;
  src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2)
      format("woff2"),
    url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff)
      format("woff"),
    url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf)
      format("opentype");
}
@font-face {
  font-family: normal-title-en;
  font-weight: 400;
  unicode-range: U+00-024F;
  font-display: swap;
  src: url("../assets/font/Press_Start_2P/PressStart2P-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: zh-title;
  font-display: swap;

  src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2)
      format("woff2"),
    url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff)
      format("woff"),
    url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf)
      format("opentype");
}
@font-face {
  font-family: zh-normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2)
      format("woff2"),
    url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff)
      format("woff"),
    url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf)
      format("opentype");
}
@font-face {
  font-family: en-title;
  font-display: swap;
  src: url("../assets/font/Press_Start_2P/PressStart2P-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: en-normal;
  font-display: swap;
  font-weight: 500;
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap)
    format("truetype");
}
@font-face {
  font-family: light-font;
  font-weight: 400;
  unicode-range: U+4E00-9FFF;
  font-display: swap;
  src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2)
      format("woff2"),
    url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff)
      format("woff"),
    url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf)
      format("opentype");
}
@font-face {
  font-family: normal-font;
  font-weight: 700;
  unicode-range: U+4E00-9FFF;
  font-display: swap;
  src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2)
      format("woff2"),
    url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff)
      format("woff"),
    url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf)
      format("opentype");
}
@font-face {
  font-family: normal-font;
  font-weight: 400;
  unicode-range: U+00-024F;
  font-display: swap;
  src: url("../assets/font/Roboto-Light.ttf") format("truetype");
}
.normal-title {
  font-family: normal-title;
}
.normal-title-en {
  font-family: normal-title-en;
}
.light-font {
  font-family: light-font;
}
.normal-font {
  font-family: normal-font;
}
.zh-title {
  font-family: zh-title;
  font-size: 28pt;
  line-height: 36pt;
}
.zh-subtitle {
  font-family: zh-title;
  font-size: 24pt;
  line-height: 30pt;
}
.en-title {
  font-family: en-title;
}
.en-normal {
  font-family: en-normal;
}
h1 {
  font-family: en-title;
  font-size: 40pt;
  line-height: 70pt;
}
h2 {
  font-family: normal-title-en;
  font-size: 24pt;
  line-height: 36pt;
}
h3 {
  font-family: normal-title;
  font-size: 16pt;
  line-height: 28pt;
}
h4 {
  font-family: normal-title-en;
  font-size: 8pt;
  line-height: 20pt;
}
h4 {
  font-family: normal-title-en;
  font-size: 6pt;
  line-height: 20pt;
}
h5 {
  font-family: en-normal;
  font-size: 3pt;
  line-height: 12pt;
}
p {
  font-family: light-font;
  font-size: 12pt;
  line-height: 22pt;
}
#TimeDisplay {
  font-family: en-title;
  font-size: 12pt;
  line-height: 28pt;
}
/* End of font setting */
/* Loading & Transition */
@keyframes loadingOut {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.loader {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  position: fixed;
  z-index: 10002;
  top: 0;
  animation: loadingOut 4s forwards;
}
canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#main-loader {
  position: absolute;
  left: 0;
  top: 0;
  background-color: lightgrey;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
