* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

html {
  overflow: -moz-hidden-unscrollable;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  height: 100%;
  width: calc(100% + 18px);
  overflow: auto;
}

.nav .logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px;
  width: 35px;
  height: 35px;
  position: fixed;
  z-index: 100000004;
}

.nav .time {
  position: fixed;
  margin: 20px;
  right: 0;
  z-index: 100000004;
}

.nav .mini-map {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 130px;
  height: 130px;
  margin: 20px;
  bottom: 0;
  position: fixed;
  z-index: 100000004;
  overflow: hidden;
}

.nav .mini-map .map--sm {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  height: 270px;
}

.nav .mini-map .map-fence {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 130px;
  height: 130px;
}

.nav .celebrate-btn {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  margin-right: 10px;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 100000004;
}

.nav .celebrate-btn .celebrate-motion {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
  position: absolute;
  -webkit-animation: rotate 5s 0s linear infinite;
          animation: rotate 5s 0s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.map {
  width: 2700px;
  height: 1800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.map .island-hover {
  margin: -20px;
  width: 220px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.map .island {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.map .island:hover .island-hover {
  opacity: 1;
  margin: 0px;
}

.map .island.main-island {
  width: 480px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map .island.main-island .main-island-hover {
  left: 0%;
  top: 70%;
}

.map .island.memorial-island {
  width: 216px;
  height: 180px;
  left: 60%;
  top: 57%;
}

.map .island.memorial-island .memorial-island-hover {
  left: -96px;
  top: 108px;
}

.map .island.bens-party {
  width: 180px;
  height: 120px;
  left: 53%;
  top: 30%;
}

.map .island.bens-party .bens-party-hover {
  left: -120px;
  top: 60px;
}

.map .island.projects-island-1 {
  width: 360px;
  height: 360px;
  left: 9%;
  top: 47%;
}

.map .island.projects-island-1 .projects-island-hover {
  left: -30%;
  top: 80%;
}

.map .island.projects-island-2 {
  width: 180px;
  height: 121px;
  left: 33%;
  top: 60%;
}

.map .island.projects-island-2 .projects-island-hover {
  left: -84px;
  top: 72px;
}

.map .island.projects-island-3 {
  width: 120px;
  height: 108px;
  left: 25%;
  top: 66%;
}

.map .island.projects-island-3 .projects-island-hover {
  left: -108px;
  top: 60px;
}

.map .island.projects-island-4 {
  width: 156px;
  height: 120px;
  left: 43%;
  top: 70%;
}

.map .island.projects-island-4 .projects-island-hover {
  left: -108px;
  top: 60px;
}

.map .island.projects-island-5 {
  width: 168px;
  height: 121px;
  left: 80%;
  top: 65%;
}

.map .island.projects-island-5 .projects-island-hover {
  left: -84px;
  top: 72px;
}

.map .island.projects-island-6 {
  width: 240px;
  height: 180px;
  left: 83%;
  top: 53%;
}

.map .island.projects-island-6 .projects-island-hover {
  left: -84px;
  top: 96px;
}

.map .island.projects-island-7 {
  width: 156px;
  height: 120px;
  left: 74%;
  top: 45%;
}

.map .island.projects-island-7 .projects-island-hover {
  left: -108px;
  top: 60px;
}

.map .island.projects-island-8 {
  width: 240px;
  height: 180px;
  left: 68%;
  top: 20%;
}

.map .island.projects-island-8 .projects-island-hover {
  left: -96px;
  top: 121px;
}

.map .island.projects-island-9 {
  width: 144px;
  height: 120px;
  left: 40%;
  top: 15%;
}

.map .island.projects-island-9 .projects-island-hover {
  left: -70%;
  top: 60%;
}

.map .island.projects-island-10 {
  width: 180px;
  height: 144px;
  left: 34%;
  top: 35%;
}

.map .island.projects-island-10 .projects-island-hover {
  left: -96px;
  top: 72px;
}

.map .island.islanders-1 {
  width: 228px;
  height: 168px;
  left: 23%;
  top: 23%;
}

.map .island.islanders-1 .islanders-hover {
  left: -70%;
  top: 80%;
}

.map .island.islanders-2 {
  width: 180px;
  height: 156px;
  left: 30%;
  top: 80%;
}

.map .island.islanders-2 .islanders-hover {
  left: -121px;
  top: 108px;
}

.map .island.islanders-3 {
  width: 160px;
  height: 121px;
  left: 65%;
  top: 75%;
}

.map .island.islanders-3 .islanders-hover {
  left: -144px;
  top: 90px;
}

.map .island.islanders-4 {
  width: 204px;
  height: 144px;
  left: 87%;
  top: 33%;
}

.map .island.islanders-4 .islanders-hover {
  left: -156px;
  top: 108px;
}

.map .island.islanders-5 {
  width: 180px;
  height: 108px;
  left: 55%;
  top: 10%;
}

.map .island.islanders-5 .islanders-hover {
  left: -144px;
  top: 72px;
}

.map .island.copyright {
  width: 144px;
  height: 96px;
  left: 48%;
  top: 88%;
}

.map .island.copyright .islanders-hover {
  left: 121%;
  top: -10%;
}

.map .island.boat-1 {
  width: 204px;
  height: 96px;
  left: 16%;
  top: 59%;
}

.map .island.boat-2 {
  width: 180px;
  height: 96px;
  left: 77%;
  top: 78%;
}

.map .island.boat-3 {
  width: 192px;
  height: 192px;
  left: 76%;
  top: 34%;
}

.map .island.boat-4 {
  width: 180px;
  height: 96px;
  left: 16%;
  top: 62%;
}

#container {
  background-color: #fff;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */