/* -------------------------- *\
	Globel
\* -------------------------- */
* {
  box-sizing: border-box;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
// ** 隱藏滾動條 ** \\
html {
  overflow: -moz-hidden-unscrollable;
  height: 100%;
  // width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  height: 100%;
  width: 100%;
  overflow: auto;
}
// ** 隱藏滾動條 ** \\
.wrapper {
  width: 100vw;
  height: 100vh;
}
// ** 變數 ** \\
$light-gray: #d6d5d5;

@mixin background($size) {
  background-position: center;
  background-repeat: no-repeat;
  background-size: $size;
}
@mixin center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* -------------------------- *\
	Nav
\* -------------------------- */
.nav {
  .nav-item {
    position: fixed;
    z-index: 9999;
  }
  .logo {
    @include background(contain);
    margin: 20px;
    width: 35px;
    height: 35px;
  }
  .time {
    margin: 20px;
    right: 0;
  }
  .mini-map {
    width: 200px;
    height: 130px;
    margin: 20px;
    bottom: 0;
    overflow: hidden;
    .map-sm {
      position: absolute;
      @include background(contain);
      @include center;
      width: 195px;
      height: 125px;
    }
    #minimap-pointer {
      height: 10px;
      width: 10px;
      background-color: #000;
      border: 1px solid #000;
    }
    .map-fence {
      @include background(contain);
      width: 200px;
      height: 130px;
      position: absolute;
      top: 0;
    }
  }
  .celebrate-btn {
    @include background(contain);
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    margin-right: 10px;
    bottom: 0;
    right: 0;
    &:hover .celebrate-btn--hover {
      opacity: 1;
    }
    .celebrate-motion {
      @include background(contain);
      @include center;

      width: 130px;
      height: 130px;
      position: absolute;
      // right: 0;

      animation: rotate 5s 0s linear infinite;
    }
    .celebrate-btn--hover {
      @include background(contain);
      margin-bottom: 20px;
      margin-right: 10px;
      width: 150px;
      height: 150px;
      opacity: 0;
    }
  }
  .link {
    width: 15px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: 20px;
    .icon {
      @include background(contain);

      width: 15px;
      height: 15px;
      &:hover .icon--hover {
        opacity: 1;
      }
      .icon--hover {
        @include background(contain);
        position: absolute;
        width: 15px;
        height: 15px;
        opacity: 0;

        transition: all 0.2s;
      }
    }
  }
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* -------------------------- *\
	Map
\* -------------------------- */
#container {
  background-color: #fff;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.map {
  width: 3000px;
  height: 2000px;
  @include background(cover);
  .island--hover {
    margin: -20px;
    width: 220px;
    height: 120px;
    @include background(contain);
    position: absolute;
    opacity: 0;

    transition: all 0.3s;
  }
  .island {
    @include background(contain);
    position: absolute;

    &:hover .island--hover {
      opacity: 1;
      margin: 0px;
    }
    &.main-island {
      width: 480px;
      height: 300px;
      @include center;
      .main-island--hover {
        left: 0%;
        top: 70%;
      }
    }
    &.memorial-island {
      width: 216px;
      height: 180px;

      left: 60%;
      top: 57%;
      .memorial-island--hover {
        left: -96px;
        top: 108px;
      }
    }
    &.bens-party {
      width: 180px;
      height: 120px;
      left: 53%;
      top: 30%;
      .bens-party--hover {
        left: -120px;
        top: 60px;
      }
    }
    &.projects-island-1 {
      width: 360px;
      height: 360px;
      left: 9%;
      top: 47%;

      .projects-island--hover {
        left: -30%;
        top: 80%;
      }
    }
    &.projects-island-2 {
      width: 180px;
      height: 121px;
      left: 33%;
      top: 60%;

      .projects-island--hover {
        left: -84px;
        top: 72px;
      }
    }
    &.projects-island-3 {
      width: 120px;
      height: 108px;
      left: 25%;
      top: 66%;
      .projects-island--hover {
        left: -108px;
        top: 60px;
      }
    }
    &.projects-island-4 {
      width: 156px;
      height: 120px;
      left: 43%;
      top: 70%;
      .projects-island--hover {
        left: -108px;
        top: 60px;
      }
    }
    &.projects-island-5 {
      width: 168px;
      height: 121px;
      left: 80%;
      top: 65%;
      .projects-island--hover {
        left: -84px;
        top: 72px;
      }
    }
    &.projects-island-6 {
      width: 240px;
      height: 180px;
      left: 83%;
      top: 53%;
      .projects-island--hover {
        left: -84px;
        top: 96px;
      }
    }
    &.projects-island-7 {
      width: 156px;
      height: 120px;
      left: 74%;
      top: 45%;
      .projects-island--hover {
        left: -108px;
        top: 60px;
      }
    }
    &.projects-island-8 {
      width: 240px;
      height: 180px;
      left: 68%;
      top: 20%;
      .projects-island--hover {
        left: -96px;
        top: 121px;
      }
    }
    &.projects-island-9 {
      width: 144px;
      height: 120px;
      left: 40%;
      top: 15%;
      .projects-island--hover {
        left: -70%;
        top: 60%;
      }
    }
    &.projects-island-10 {
      width: 180px;
      height: 144px;
      left: 34%;
      top: 35%;
      .projects-island--hover {
        left: -96px;
        top: 72px;
      }
    }
    &.islanders-1 {
      width: 228px;
      height: 168px;
      left: 23%;
      top: 23%;
      .islanders--hover {
        left: -70%;
        top: 80%;
      }
    }
    &.islanders-2 {
      width: 180px;
      height: 156px;
      left: 30%;
      top: 80%;
      .islanders--hover {
        left: -121px;
        top: 108px;
      }
    }
    &.islanders-3 {
      width: 160px;
      height: 121px;
      left: 65%;
      top: 75%;
      .islanders--hover {
        left: -144px;
        top: 90px;
      }
    }
    &.islanders-4 {
      width: 204px;
      height: 144px;
      left: 87%;
      top: 33%;
      .islanders--hover {
        left: -156px;
        top: 108px;
      }
    }
    &.islanders-5 {
      width: 180px;
      height: 108px;
      left: 55%;
      top: 10%;
      .islanders--hover {
        left: -144px;
        top: 72px;
      }
    }
    &.copyright {
      width: 144px;
      height: 96px;
      left: 48%;
      top: 88%;
      .islanders--hover {
        left: 121%;
        top: -10%;
      }
    }
    &.boat-1 {
      width: 204px;
      height: 96px;
      left: 16%;
      top: 59%;
    }
    &.boat-2 {
      width: 180px;
      height: 96px;
      left: 77%;
      top: 78%;
    }
    &.boat-3 {
      width: 192px;
      height: 192px;
      left: 76%;
      top: 34%;
    }
    &.boat-4 {
      width: 180px;
      height: 96px;
      left: 16%;
      top: 62%;
    }
  }
}
/* -------------------------- *\
	Video
\* -------------------------- */
.video-container {
  height: 100vh;
  .video {
    position: absolute;
    @include center;
  }
}
/* -------------------------- *\
	Popup
\* -------------------------- */
@keyframes popup {
  0% {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, 0);

    opacity: 0;
    width: 0%;
    height: 0%;
    background-color: #000;
  }
  10% {
    opacity: 0;
  }
  90% {
    background-color: #000;
  }
  100% {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;

    z-index: 10000;
    display: flex;
    flex-direction: row;
    justify-content: center;

    opacity: 1;
  }
}

.popup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(20px) !important;
  backdrop-filter: blur(20px) !important;

  z-index: 10000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // perspective: 1000;
  opacity: 0;

  animation: popup 0.1s ease-out 1.2s both,
    noise-1 1s linear 2 alternate-reverse, glitch-2 5s 1.5s 2;

  .frame-item {
    @include background(cover);
    position: absolute;
    animation: display 0.3s 1.3s both;
  }
  .frame-l {
    left: 2%;
    top: 50%;
    transform: translate(0, -50%);
    width: 25px;
    height: calc(96% - 50px);
  }
  .frame-t {
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(96% - 50px);
    height: 25px;
  }
  .frame-r {
    top: 50%;
    right: 2%;
    transform: translate(0, -50%);
    width: 25px;
    height: calc(96% - 50px);
  }
  .frame-b {
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(96% - 50px);
    height: 25px;
  }

  .popup-nav {
    position: absolute;
    top: 7%;
    width: 89%;
    display: grid;
    grid-template-columns: 40px auto auto 22.5px;
    align-content: center;
    grid-gap: 20px;
    height: 40px;
    .popup-island {
      @include background(contain);
      width: 40px;
      height: 40px;
      grid-column: 1;
    }
    h4 {
      color: $light-gray;
      grid-column: 2;
      align-self: center;
    }
    .close-btn {
      @include background(contain);

      grid-column: 4;
      align-self: center;

      width: 22.5px;
      height: 22.5px;
      &:hover .close-btn--hover {
        opacity: 1;
      }
      .close-btn--hover {
        @include background(contain);
        position: absolute;
        right: 0;
        bottom: 0;
        width: 24px;
        height: 24px;
        opacity: 0;
        transition: all 0.1s;
      }
    }
  }
  .popup-container {
    position: relative;
    @include center();
    width: calc(96% - 50px);
    height: 360px;
    overflow: hidden;
  }
  .popup-content {
    display: grid;
    grid-template-columns: 1fr 80px 2fr 160px 1fr 160px 1fr 160px 1fr;
    // grid-gap: 160px;
    // position: absolute;
    left: 12%;
    top: 50%;
    transform: translate(0, -50%);
    height: 360px;
    width: 2000px;

    .popup-intro {
      display: grid;
      grid-template-rows: 60% 40%;
      align-content: space-between;
      height: 100%;
      .popup-title {
        color: #000;
        position: relative;
        // font-size: 9vw;
        // margin: 70px 200px;
        animation: glitch 5s 5s 1;
        &::before {
          content: attr(data-text);
          position: absolute;
          left: -2px;
          text-shadow: -5px 0 #00fff0;
          // background: black;
          overflow: hidden;
          top: 0;
          animation: noise-1 3s linear 2 alternate-reverse, glitch 4.5s 5.05s 2,
            disappear 0.3s 5s both;
        }
        &:after {
          content: attr(data-text);
          position: absolute;
          left: 2px;
          text-shadow: -5px 0 #ff8a00;
          // background: black;
          overflow: hidden;
          top: 0;
          animation: noise-2 3s linear 2 alternate-reverse, glitch 4.5s 5s 2,
            disappear 0.3s 6s both;
        }
      }

      .scroll {
        width: 130px;
        height: 130px;
        justify-self: end;
        align-self: flex-end;
        .scroll-icon {
          @include center();
          @include background(contain);
          width: 40.5px;
          height: 67.5px;
        }

        .scroll-motion {
          @include background(contain);
          position: absolute;
          @include center();

          width: 130px;
          height: 130px;
          animation: rotate 5s 0s linear infinite;
        }
      }
    }
    .popup-pic {
      @include background(cover);
      grid-column: 3;
      // border: 1px solid #000;
      height: 100%;
      width: 640px;
      animation: pic-display 1.5s 1s;

      &::after {
        content: "";
        height: 100%;
        width: 640px;
        background-color: #000;
        position: absolute;
        top: 0;
        left: 0;
        animation: picture 1s linear 1.5s both;
      }
    }
    .popup-para {
      border: 1px solid #000;
      height: 100%;
      width: 360px;
      &-1 {
        grid-column: 5;
      }
      &-2 {
        grid-column: 7;
      }
      &-3 {
        grid-column: 9;
      }
    }
  }
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  $steps: 30;
  @for $i from 1 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-2 {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}
@keyframes glitch-2 {
  1% {
    transform: rotateX(10deg) skewX(70deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pic-display {
  0% {
    background-image: none;
    background-color: #fff;
  }
  90% {
    background-image: none;
    background-color: #fff;
  }
  100% {
    @include background(cover);
  }
}
@keyframes picture {
  0% {
    width: 0%;
    height: 100%;
  }
  50% {
    width: 640px;
    height: 100%;
  }
  100% {
    width: 0%;
    height: 100%;
    background-color: #000;
  }
}
