/* By Roizi */
* {
    margin: 0;
    padding: 0;
  }
body {
    position: relative;
    cursor: auto;
}
/* coordinate */
#coords {
    width: 100%;
    height: 100%;
    z-index: 99;
    position: fixed;
    -webkit-user-select: none;
    user-select: none;
}
#coord-num {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    font-family: en-nomal;
    line-height: 18pt;
    letter-spacing: 0.5pt;
    font-size: 12pt;
}
#Xbar, #Ybar {
    position: absolute;
}
#Xbar {
    width: 100%;
    border-left: 1px dashed gray;
    top: 0;
    bottom: 0;
}
#Ybar {
    left: 0;
    height: 100%;
    border-top: 1px dashed gray;
    right: 0;
}
#a-cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
/* End of coordinate */
/* font setting */
@font-face {
    font-family: normal-title;
    font-weight: 400;
    unicode-range: U+4E00-9FFF;
    font-display: swap;
    src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format("woff2"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format("woff"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format("opentype")
}
@font-face {
    font-family: normal-title;
    font-weight: 700;
    unicode-range: U+4E00-9FFF;
    font-display: swap;
    src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format("woff2"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format("woff"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format("opentype")
}
@font-face {
    font-family: normal-title;
    font-weight: 400;
    unicode-range: U+00-024F;
    font-display: swap;
    src: url('../assets/font/Press_Start_2P/PressStart2P-Regular.ttf') format("truetype");
}
@font-face {
    font-family: zh-title;
    font-display: swap;
    src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format("woff2"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format("woff"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format("opentype")
}
@font-face {
    font-family: zh-normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format("woff2"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format("woff"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format("opentype")
}
@font-face {
    font-family: en-title;
    font-display: swap;
    src: url('../assets/font/Press_Start_2P/PressStart2P-Regular.ttf') format("truetype");
}
@font-face {
    font-family: en-normal;
    font-display: swap;
    src: url('../assets/font/Roboto-Light.ttf') format("truetype");
}
@font-face {
    font-family: normal-font;
    font-weight: 400;
    unicode-range: U+4E00-9FFF;
    font-display: swap;
    src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format("woff2"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format("woff"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format("opentype")
}
@font-face {
    font-family: normal-font;
    font-weight: 700;
    unicode-range: U+4E00-9FFF;
    font-display: swap;
    src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format("woff2"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format("woff"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format("opentype")
}
@font-face {
    font-family: normal-font;
    font-weight: 400;
    unicode-range: U+00-024F;
    font-display: swap;
    src: url('../assets/font/Roboto-Light.ttf') format("truetype");
}
.normal-title{
    font-family: normal-title;
}
.normal-font{
    font-family: normal-font;
}
.zh-title{
    font-family: zh-title;
}
.en-title{
    font-family: en-title;
}
h3{
    font-family: normal-title;
    font-size: 16pt;
    line-height: 28pt;
}
#TimeDisplay{
    font-family: en-title;
    font-size: 16pt;
    line-height: 28pt;
}
/* End of font setting */